html {overflow-y: scroll}
body{max-width:800px;margin:40px auto;padding:0 10px;font:14px/1.5 monospace;color:#444}h1,h2,h3{line-height:1.2}@media (prefers-color-scheme: dark){body{color:#93a1a1;background:#002b36}a:link{color:#268bd2}a:visited{color:#d33682}}
p > code{color: #b58900; background:#073642; padding:2px}
pre{color: #93a1a1; background:#073642; padding:24px; overflow-x: auto}
article{padding:24px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
img {display: block; max-width: 100%; height: auto;}
figcaption {color: #888; font: 12px/1.5 monospace; text-align: center;}
figure {margin: auto}
 p {
   font-family: "Fira Code", monospace;
 }
 code {
   font-family: "Fira Code";
 }
