html {overflow-y: scroll}
body{max-width:800px;margin:40px auto;padding:0 10px;font:14px/1.5 monospace;color:#444}h1,h2,h3{line-height:1.2}
@media (prefers-color-scheme: dark){
body{color:#93a1a1;background:#002b36}a:link{color:#268bd2}a:visited{color:#d33682}
p > code{color: #b58900; background:#073642; padding:2px}
pre{color: #93a1a1; background:#073642; padding:24px; overflow-x: auto}
article{padding:24px 0}
}
@media (prefers-color-scheme: light){body{color:#002b36;background:#eee8d5}a:link{color:##225c9b}a:visited{color:#9b225c}
p > code{color: #002b36; background:#93a1a1; padding:2px}
pre{color: #002b36; background:#93a1a1; padding:24px; overflow-x: auto}
article{padding:24px 0}}

