{{ partial "header" . }}

<div class="row">
<div class="navbar navbar-default navbar-fixed-top">
{{ partial "navbar" . }}
</div>

<div class="container">

  <div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4">
        {{ partial "menu" . }}
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8">
        <div>
          <h1 id="main">Page not found </h1>
            <p>Looking for the blog? <a href="http://www.brodrigues.co/">Blog</a></p>

            <p>Looking for the book? <a href="https://b-rodrigues.github.io/fput/">Functional programming and unit testing for data munging with R</a></p>

            <p>Follow me on twitter <a href="https://twitter.com/brodriguesco">https://twitter.com/brodriguesco</a></p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-8 col-lg-offset-3 col-md-offset-3">
    {{ partial "footer" . }}
    </div>
  </div>

</div>
</html>
{{ partial "footer_js" . }}
