<div class="container">
  <div class="navbar-header">
    <a href="{{ .Site.BaseURL }}" class="navbar-brand">{{ .Site.Title }}</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main">

    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://www.buymeacoffee.com/brodriguesco">Donate</a></li>
      <li><a href="https://bitbucket.org/{{ .Site.Social.bitbucket }}/">Bitbucket</a></li>
      <li><a href="https://github.com/{{ .Site.Social.github }}/">Github</a></li>
      <li><a href="https://twitter.com/{{ .Site.Social.twitter }}/">Twitter</a></li>
    </ul>
  </div>
</div>
